/* GLOBAL STYLES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: center;
}

/* LANDING PAGE */
.landing-page {
  height: 100vh;
  width: 100%;
  margin: auto;
  display: block;
  justify-content: center;
  transition: 2.2s ease;
  display: box;
  position: absolute;
  top: 20%;
  padding:0 20%;
}
.landing-page > * {
  margin: 5%;
}

.highscores-page {
  height: 100vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  transition: 2.2s ease;
  display: none; /* toggle to box */
}

body {
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(#fff);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 250%;
}

h2 {
  text-decoration: underline;
}

#game-stats {
  width: auto;
  margin: auto;
  justify-content: center;
}

.btn {
  background-color: #632063;
  padding: 0.5% 2%;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.answer-btn {
  padding: 2% 5%;
}

#questions-box h3 {
  text-align: left;
  font-size:200%;
}

#questions-box ul {
  text-align: left;
}

#questions-box ul li {
  margin: 2%;
  list-style-type: none;
}

/* MAIN */
main {
  display: none;
  margin: auto;
  height: 100vh;
  text-align: center;
  justify-content: center;
  transition: 2.2s ease;
}

.main-nav {
  position: absolute;
  top: 0;
  width: 100%;
}

.main-nav ul {
  list-style-type: none;
}

.main-nav button {
  float: left;
  background-color: transparent;
  border: none;
  color: #632063;
  font-size: 120%;
  width: auto;
  list-style-type: none;
  margin: 2%;
}

.questions-container {
  padding: 20%;
  margin: auto;
}

#game-timer {
  color: #632063;
  font-size: 120%;
  float: right;
  margin: 2% 3% 0 0;
}


#answer-input {
  border-radius: 25px;
  width: 80%;
  padding: 2%;
}

#answer-alert {
  width: 100%;
}

.alert-title {
  font-size: 300%;
  color: #999;
  text-align: left;
}

#highscores-page {
  margin-top: 50px;
}

#game-stats {
  margin: 50px 0;
}

/* Table */
table {
  width: 80%;
  margin:auto;
  /* box-shadow: 5px 4px 10px rgba( 0, 0, 0, 0.3); */
}

th {
  padding: 2%;
  width: auto;
}

td {
  padding: 1%;
}
tr:nth-child(even) {
  background-color:rgba(99, 32, 99, 0.2);
}

tr:nth-child(odd) {
  background-color:rgba(99, 32, 99, 0.2);
}

tr:last-child {
  background-color:rgba(99, 32, 99, 0.2);
}

#end-game-page {
  display: none; /*set default display of end game page to none */
  margin: 50px 0;
  padding: 20%;
  text-align:left;
}

#score-input {
  margin: 25px 0;
}